$link-decoration: none;

// Color
$dark: #273444;

// Main Colors
$bg: #14062c;
$primary: #894eed;
$secondary: #340d76;
$hover: #00000026;
$text-muted: #ffffff63;

$dark: #0f0f0f6e;
$lighter: rgba(56, 27, 107, 1);

//Navs
$nav-tabs-link-active-color: $primary;
$navbar-light-color: rgba(255, 255, 255, 0.5);
$navbar-light-hover-color: #fff;
$navbar-light-active-color: #fff;

// Transparency
$t-1: #fcfcfc18;
$tb-1: #00000024;
$tb-2: #00000080;
$t-2: #fcfcfc90;
$t-3: #eaecf340;
$t-4:#4776E6;
$s-1: $t-4;
$sb-1: $t-4;
.t-1{background: $t-1 !important;backdrop-filter: blur(5px);-webkit-backdrop-filter: blur(5px);}
.tb-1{background: $tb-1 !important;backdrop-filter: blur(5px);-webkit-backdrop-filter: blur(5px);}
.tb-2{background: $tb-2 !important;backdrop-filter: blur(5px);-webkit-backdrop-filter: blur(5px);}
.t-2{background: $t-2 !important;backdrop-filter: blur(5px);-webkit-backdrop-filter: blur(5px);}
.t-3{background: $t-3 !important;backdrop-filter: blur(5px);-webkit-backdrop-filter: blur(5px);}
.s-1{background: $s-1 !important;backdrop-filter: blur(5px);-webkit-backdrop-filter: blur(5px);}
.sb-1{background: $sb-1 !important;backdrop-filter: blur(5px);-webkit-backdrop-filter: blur(5px);}
.bg-lighter{background: $lighter !important;}
.border-lighter{border-color: $lighter !important;}
.t-1 label, .t-2 label, .t-3 label{
    color: $dark
}

// Rounded
$r-1: .375rem;
$r-2: $r-1*2;
$r-3: $r-2*2;
.r-1{border-radius: $r-1 !important;}
.r-2{border-radius: $r-2 !important;}
.r-3{border-radius: $r-3 !important;}


